# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Secrets
/config/secrets.yml

# Email Addresses and Passwords
/config/application.yml
config/secrets.yml
