<!-- <!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8"> --> 
        <!-- <title>Calendar DVU Prototype: Static Edition</title> -->

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

        <link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />

        <link rel="stylesheet" href="assets/css/calendar.css" type="text/css" />

        

        <script src="assets/js/fullcal-implementation.js"></script>
        <style>
        .day_viz {
            position: absolute; top: 50%; left: 3px; right: 3px; bottom: 3px; opacity: 0.5;
        }

        #stats { margin-bottom: 1em; font-size: larger; }
        #stats td { padding: 2px; text-align: right; }
        #stats .stat_label { font-weight: bold; color: #555; }
        #stats .stat_value { display: block; width: 60px; }

        .legend { display: inline-block; margin-right: 5px; border: solid 1px #ccc; width: 12px; height: 12px; opacity: 0.5; }
        .legend.minutes-ambulatory { background-color: #FFAC46; }
        .legend.away-from-home { background-color: #46D1FF; }
        .legend.max-gait-speed { background-color: #6EEDA5; }

        #filter_controls { padding: 3px; }
        </style>
    <!-- </head> -->

    <!-- <body> -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9"style="margin-bottom: 10px;">
                    <div id="calendar"></div>

                    <div id="filter_controls">
                        <span style="margin-right: 10px;"><input type="checkbox" id="show_bar_numbers" checked="checked" /> <label for="show_bar_numbers">display bar values</label></span>
                        <span><input type="checkbox" id="show_events" checked="checked" /> <label for="show_events">display events</label></span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="info">
                        <div id="info_content" >
                         <!--  style="display: none;" -->
                            <h2 style="margin: 0 0 10px 0;"></h2>

                            <table id="stats">
                                <tr>
                                    <td><span class="legend away-from-home"></span></td>
                                    <td class="stat_label">Hours Away from Home:</td>
                                    <td><span id="info_away-from-home" data-field="away-from-home" class="stat_value"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="legend minutes-ambulatory"></span></td>
                                    <td class="stat_label">Minutes Ambulatory:</td>
                                    <td><span id="info_minutes-ambulatory" data-field="minutes-ambulatory" class="stat_value"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="legend max-gait-speed"></span></td>
                                    <td class="stat_label">Max Gait Speed:</td>
                                    <td><span id="info_max-gait-speed" data-field="max-gait-speed" class="stat_value"></span></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left;" colspan="3">
                                        <div id="averaged-notice" style="color: #555; font-size: 13px;"> (averaged over the selected days)</div>
                                    </td>
                                </tr>
                            </table>

                            <div id="info_notes">
                                <h3>Notes</h3>
                                <textarea style="width: 100%; height: 150px; resize: vertical;"></textarea>
                                <div style="text-align: right;">
                                    <button>Save Notes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src='bower_components/d3/d3.min.js'></script>
        <script src='bower_components/jquery/dist/jquery.min.js'></script>
        <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
        <script src='bower_components/moment/min/moment.min.js'></script>
        <script src='bower_components/fullcalendar/dist/fullcalendar.js'></script>
        <script src='bower_components/fullcalendar/dist/gcal.js'></script>
        <!-- /.container -->

        <!--
        ========================================
        === land of hidden scripts
        ========================================
        -->

       
    <!-- </body>
</html>