<style>
  .howto_section {
    padding-bottom: 20px;
  }

</style>

<div class="howto_section">
  <h2>Getting Started</h2>
  <h5>Last Updated 6/20/2015</h5>
  <p>In compliance with the software developers' IRB documents, identifying information of study participants are no longer shown on this dashboard, as the dashboard displays the collected data of the participants.</p>

  <p>For studies where the IRB approval allows identifying information shown together with the collected data of the participants, please contact Narumi with the relevant language on your IRB document so that we can accommodate accordingly.</p>

  <p>For studies where the IRB approval don't have specific language allowing identifying information shown together with the collected data of the participants, please contact Narumi and we will provide a separate portal which links the ID and identifying information of the participants, for your reference.</p>


  <!-- <h3>Tips & Instructions</h3>

  <p>Here are some features available to you: </p>

  <strong><p>Creating New User</p></strong>

  <p>Prior to join in a research study, new participants are required to go through the onboarding process. There are two options to sign in:Username and Password* or Gmail**. Once it is done, they will be added to the dashboard automatically.</p>
  <p>*Contact Narumi to request a set of Usernames and Passwords</p>
  <p>**We do not store any credentials that you have with Google</p>

  <strong><p>Creating New Researchers</p></strong>
  <p>If you are a research coordinator and have researcher(s) who is interested in running a study with us, please let us know with their contact information.</p>

 <strong><p>Viewing Data</p></strong>
 <ul>
   <li></li>
 </ul>

  <strong><p>Viewing Studies</p></strong>
  <ul>
    <li>Click on the Study panel.</li>
    <li>The name of the data stream and the survey that belong to the study are shown.</li>
  </ul>

  <strong><p>Viewing Surveys</p></strong>
  <ul>
    <li>Click on the Survey panel.</li>
    <li>The survey that is used in the study is shown.</li>
  </ul>

  <strong><p>We’re here to help</p></strong>
  <p>We want researchers to get the most out of SDL Admin Dashboard. If you have any questions or feedback, please contact us. We’ll get back to you as soon as possible.
  </p>

</div>

<div class="howto_section">
  <h2>Setting Up New Study</h2>

  <p>Please provide us with the following information so that we may process your request to create a new study: </p>

  <ul>
    <li>Name of the study</li>
    <li>Name of the data streams that will be used to collect data in the study (i.e., PAM, Mobility, and ohmage)</li>
    <li>Information on the survey that will be used in the study for self-report</li>
    <ul>
      <li>Name of the survey (e.g., Post Surgical Pain-Witkin)</li>
      <li>Version (Version 2, March 2015)</li>
      <li>The name and email address of the researcher</li>
      <li>Device type: iphone, android or both</li>
      <li>Target study start date and duration</li>
      <li>Target number of participants</li>
      <li>Description (2 sentences)</li>
      <li>The survey questions</li>
    </ul>
  </ul>

  <p>Please send the information above to xxxxxx@gmail.com. We will inform you when the study is ready for testing by you and your staff and after feedback when it is ready for participants.</p>
 -->

</div>






