<style>
  .howto_section {
    padding-bottom: 20px;
  }

</style>

<div class="howto_section">
  <h2>Getting Started</h2>

  <h3>Tips & Instructions</h3>

  <p>Here are some features available to you: </p>

  <strong><p>Creating New User </p></strong>
  <ul>
    <li>Go to the User panel and click the “New User” button.</li>
    <li>Enter the user’s first name, last name and email address to register them for the mobility  health apps.</li>
    <li>Select a study that the user should belong to.</li>
    <li>Users can be edited and deleted under the User panel.</li>
  </ul>
    
  <strong><p>Viewing Users</p></strong>
  <ul>
    <li>Under the User panel, for each individual user, there are columns that indicate the time the user last uploaded data on the mobility health apps and the studies that they belong to.</li>
    <li>Click on the “View” button for an individual user to get a visual view of data and download data from different data streams in csv format.</li>
    <li>csv format files are available in PAM, Mobility, ohmage, and Mobility daily summary data.</li>
    <li>The Mobility daily summary is shown on the Calendar with options for a monthly or a yearly view.</li>
    <li>When a specific date on the calendar is clicked, a comment input box will appear where you can enter any annotations.</li>
  </ul>

  <strong><p>Viewing Studies</p></strong>
  <ul>
    <li>Click on the Study panel.</li>
    <li>The name of the data stream and the survey that belong to the study are shown.</li>
  </ul>

  <strong><p>Viewing Surveys</p></strong>
  <ul>
    <li>Click on the Survey panel.</li>
    <li>The survey that is used in the study is shown.</li>
  </ul>

  <strong><p>We’re here to help</p></strong>
  <p>We want researchers to get the most out of SDL Admin Dashboard. If you have any questions or feedback, please contact us. We’ll get back to you as soon as possible. 
  </p>

</div>

<div class="howto_section">
  <h2>Setting Up New Study</h2>

  <p>Please provide us with the following information so that we may process your request to create a new study: </p>

  <ul>
    <li>Name of the study</li>
    <li>Name of the data streams that will be used to collect data in the study (i.e., PAM, Mobility, and ohmage)</li>
    <li>Information on the survey that will be used in the study for self-report</li>
    <ul>
      <li>Name of the survey (e.g., Post Surgical Pain-Witkin)</li>
      <li>Version (Version 2, March 2015)</li>
      <li>The name and email address of the researcher</li>
      <li>Device type: iphone, android or both</li>
      <li>Target study start date and duration</li>
      <li>Target number of participants</li>
      <li>Description (2 sentences)</li>
      <li>The survey questions</li>
    </ul>
  </ul>

  <p>Please send the information above to xxxxxx@gmail.com. We will inform you when the study is ready for testing by you and your staff and after feedback when it is ready for participants.</p>


</div>






