<style>
  .howto_section {
    padding-bottom: 20px;
  }

</style>

<div class="howto_section">
  <h2>Getting Started</h2>
  <h5>Last Updated 6/20/2015</h5>
  <p>In compliance with the software developers' IRB documents, identifying information of study participants are no longer shown on this dashboard, as the dashboard displays the collected data of the participants.</p>

  <p>For studies where the IRB approval allows identifying information shown together with the collected data of the participants, please contact <a href="mailto:ohmage.omh@gmail.com">Narumi</a> with the relevant language on your IRB document so that we can accommodate accordingly.</p>

  <p>For studies where the IRB approval don't have specific language allowing identifying information shown together with the collected data of the participants, please contact <a href="mailto:ohmage.omh@gmail.com">Narumi</a> and we will provide a separate portal which links the ID and identifying information of the participants, for your reference.</p>

  <h3>Tips & Instructions</h3>

  <p>Here are some features available for you:</p>

  <strong><p>Creating New Users</p></strong>

  <p>Prior to join in a research study, new participants are required to go through the on-boarding process. There are two options to sign in: custom sign-in* or sign in with Google**. Once it is done, they will be added to the dashboard automatically.</p>

  <p>Participants don't NEED to use Google sign-in but some might choose it over the SDL sign-in for convenience reasons (e.g. they already have a Google account and are used to using it to sign in all sort of apps or websites).</p>

  <p>*Please contact <a href="mailto:ohmage.omh@gmail.com">us</a> to request a set of usernames and passwords</p>
  <p>**We do not store any credentials that you have with Google</p>

  <strong><p>Creating New Researchers</p></strong>
  <p>If you are a research coordinator or have researcher(s) who is interested in running a study with us, please email <a href="mailto:ohmage.omh@gmail.com">Narumi</a> with their contact information.</p>

 <strong><p>Viewing Data</p></strong>
 <ul>
   <li>The Participants panel is an overview of each participant’s activity; User ID#, Study name, Data Streams, Last Uploaded Date(data). Click on the “View” button at the end of the columns for the detailed data.</li>
   <li>By default, the Calendar View is yearly but you could also switch the layout to daily or monthly.</li>
   <li>Click on the labels in calendar control for quick data browsing. You can enter any annotations there as well by clicking on any date on the Calendar.</li>
   <li>All data is also available in CSV files andthe buttons are located at the top right corner.</li>
   <li>If you would like to download all the participants data at once, please click on the buttons on the top right corner at the User Panel.</li>
   <li>The bar graphs indicate the Mobility daily summary, Max Walking Speed(m/s), Active Time In Minutes, Time Not At Home In Minutes.</li>
 </ul>

  <strong><p>Reviewing Studies</p></strong>
  <ul>
    <li>Click on the Study panel. You can review the data streams and surveys that belong to your study.</li>
  </ul>

  <strong><p>Viewing Surveys</p></strong>
  <ul>
    <li>Click on the Survey panel.</li>
  </ul>
  <p>Please note: Researchers can only create new surveys, which means they cannot modify or delete them, and this is because we want to keep track of what is going on in the dashboard. If you have any requests for changes, please let us know.</p>

</div>

<div class="howto_section">
  <h2>Setting Up New Study</h2>
  <p>Please send <a href="mailto:ohmage.omh@gmail.com">us</a> the following information along with the New Study Submission Form. You can fill out the form <a href="http://goo.gl/forms/STj9QgJcLc">here</a>.</p>

  <ul>
    <li>Device type: iPhone, android or both</li>
    <li>Target study start date and duration</li>
    <li>Target number of participants</li>
    <li>Brief description about the study (2 sentences)</li>
  </ul>

  <p>For ohmage intended user, please also send us the questionnaire if it’s ready.</p>

  <p>We will inform you when the study is ready for testing by you and your staffs and after feedback when it is ready for participants.</p>
</div>
<div class="howto_section">
  <h2>Testing</h2>
  <p>You may be curious how the dashboard gets populated with data. The best way to test this is you become a user of your own study. Let <a href="mailto:ohmage.omh@gmail.com">us</a> know if you’re interested so that we can provide you the appropriate links to get you started!</p>
</div>
<div class="howto_section">
  <h2>Recruiting Patients</h2>

  <%= image_tag "onboarding-site.png" %>
  <p>You do not need to contact us everytime bringing in new patients-the on-boarding page will do this for us!. For more details, please refer back to the section, Creating New Users, at the top of the page.</p>

</div>

<strong><p>We’re here to help</p></strong>
<p>We want researchers to get the most out of SDL Admin Dashboard. If you have any questions or feedback, please contact <a href="mailto:ohmage.omh@gmail.com">us</a>. We’ll get back to you as soon as possible</p>

