:javascript
    $(document).ready( function() {

        var datepicker =
        $('.date').datepicker({
            format: "yyyy-mm-dd",
            todayHighlight: true
        });

        var token = url("#access_token");

        if(!token)
        {
            window.location.href = dsu + "oauth/authorize?client_id=mobility-visualization&response_type=token";
        }
        else
        {
            $.getJSON(dsu + "oauth/check_token?token=" + token)
            .done(function(data) {
                var username = data["user_name"];
                var device = url("#device") || "android";
                var date = url("#date")? moment(url("#date")).toDate() : new Date();
                var redraw = function(){
                    deletePreviousImg();
                    drawDate(username, moment(date).format('YYYY-MM-DD'), device, token);
                    showSummary(username, date, device, token);
                };

                $('.btn-device').click(function(e){
                   $(".btn-group button").removeClass("selected").addClass("unselected");
                    var btn = $(e.target);
                    device = btn.attr("data");
                    btn.removeClass("unselected").addClass("selected");
                    redraw();
                });
                datepicker.on("changeDate", function(e){
                    date = e.date;
                    redraw();
                });
                $('.date').datepicker("setDate", date);
            })
            .fail(function() {
                window.location.href = dsu + "oauth/authorize?client_id=mobility_visualization&response_type=token";
            });

        }
    } );


 -# .progress
            -#   .progress-bar.progress-bar-warning#away{role: 'progressbar', aria: {valuemin: 0, valuemax: 100}}
            -#   %span.sr-only
