<p>Welcome to ohmage-omh, <%= @resource.email %>!</p>

<p>The SDL Admin Dashboard is for you to manage your study and view the data collected from your study participants. </p>

<p>Before we get started, click <%= link_to 'here', edit_password_url(@resource, reset_password_token: @token) %> to create a password for your account.</p>

<p>We look forward to working with you!</p>

<footer>Team ohmage-omh</footer>