<p>Welcome to ohmage-omh, <%= @resource.email %>!</p>

<p>Thanks for your interest in ohmage-omh. The SDL Admin Dashboard is for you to manage your study and to see the data collected from your study participants. </p>

<p>Before we get started, we just need you to set up your own password.</p>password

<p>To finalize the registration, please <%= link_to 'Click Here', edit_password_url(@resource, reset_password_token: @token) %> to create your own password.</p>

<p>We look forward to working with you!</p>

<footer>Team ohmage-omh</footer>