     <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag "fullcalendar", "calendar"%>

        <%= javascript_include_tag "d3.min", "jquery.min", "bootstrap.min", "moment.min", "fullcalendar", "gcal", "fullcalendar_implementation"%>

        <!-- omit bootstrap.min.css -->

        <style>
        .day_viz {
            position: absolute; top: 50%; left: 3px; right: 3px; bottom: 3px; opacity: 0.5;
        }

        #stats { margin-bottom: 1em; font-size: larger; }
        #stats td { padding: 2px; text-align: right; }
        #stats .stat_label { font-weight: bold; color: #555; }
        #stats .stat_value { display: block; width: 60px; }

        .legend { display: inline-block; margin-right: 5px; border: solid 1px #ccc; width: 12px; height: 12px; opacity: 0.5; }
        .legend.active_time_in_seconds { background-color: #FFAC46; }
        .legend.time_not_at_home_in_seconds { background-color: #46D1FF; }
        .legend.max_gait_speed_in_meter_per_second { background-color: #6EEDA5; }

        #filter_controls { padding: 3px; }
        </style>

 <body>
        <!-- <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-calendar" style="position: relative; top: 3px;" aria-hidden="true"></span> Calendar DVU</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Patients</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>     
            </div>
        </nav> -->

       <!--  <ol class="breadcrumb" style="margin-top: -20px; border-radius: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);">
            <li><a href="#">Calendar DVU</a></li>
            <li><a href="#">Patients</a></li>
            <li><a href="#">Faisal Alquaddoomi</a></li>
            <li class="active">Daily Statistics</li>
        </ol> -->
        <div id="calendar_data_points" data-url="https://lifestreams.smalldata.io/users/<%= @user.id %>/calendar_data_points.json"></div>

        <!-- http://localhost:3000/users/<%= @user.id %>/calendar_data_points.json -->
        <div class="container-fluid">
            <div >
                <div style="margin-bottom: 10px;">
                    <div id="calendar"></div>

                    <div id="filter_controls">
                        <span style="margin-right: 10px;"><input type="checkbox" id="show_bar_numbers" checked="checked" /> <label for="show_bar_numbers">display bar values</label></span>
                        <span><input type="checkbox" id="show_events" checked="checked" /> <label for="show_events">display events</label></span>
                    </div>
                </div>
                <div >
                    <div id="info">
                        <div id="info_content">
                            <h2 style="margin: 0 0 10px 0;"></h2>

                            <table id="stats">
                                <tr>
                                    <td><span class="legend time_not_at_home_in_seconds"></span></td>
                                    <td class="stat_label">Hours Away from Home:</td>
                                    <td><span id="info_time_not_at_home_in_seconds" data-field="time_not_at_home_in_seconds" class="stat_value"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="legend active_time_in_seconds"></span></td>
                                    <td class="stat_label">Minutes Ambulatory:</td>
                                    <td><span id="info_active_time_in_seconds" data-field="active_time_in_seconds" class="stat_value"></span></td>
                                </tr>
                                <tr>
                                    <td><span class="legend max_gait_speed_in_meter_per_second"></span></td>
                                    <td class="stat_label">Max Gait Speed:</td>
                                    <td><span id="info_max_gait_speed_in_meter_per_second" data-field="max_gait_speed_in_meter_per_second" class="stat_value"></span></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left;" colspan="3">
                                        <div id="averaged-notice" style="color: #555; font-size: 13px;"> (averaged over the selected _s)</div>
                                    </td>
                                </tr>
                            </table>

                            <div id="info_notes">
                                <h3>Notes</h3>
                                <textarea style="width: 100%; height: 150px; resize: vertical;"></textarea>
                                <div style="text-align: right;">
                                    <button>Save Notes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <!--
        ========================================
        === land of hidden scripts
        ========================================
        -->
    </body>